body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.comments{
    padding-bottom: 5px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;
}
.media-object-ep {
    height: 38px;
    width: 38px;
}
.question-title {
    margin-top: 25px;
}
/*sp分割线*/
.question-sp {
    margin-top: 0;
}
.media-text-ep {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.media-body {
    padding-top: 10px;
}
.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.jumbotron{
    margin: 50px;
}
.comment{
      margin:10px 0px;
  }
.btn-comment{
    float:right;
    margin-bottom: 10px;
}
.menu{
    margin-top: 5px;
    color: #999;
}
.menu .icon{
    margin-right:6px ;
    font-size: 15px;
    cursor: pointer;
}.menu .icon:hover{
     color: #499ef3;
 }