body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object-ep {
    height: 38px;
    width: 38px;
}

.media-text-ep {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}